{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h2>Add Task</h2>

<link href="{% static 'ckeditor/contents.css' %}" rel="stylesheet">
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>

<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<input type="submit" value="Add Task"/>
</form>

<script>
 CKEDITOR_JQUERY_URL = "{% static 'js/jquery-3.3.1.min.js' %}"
 CKEDITOR.replace( 'id_text' );
</script>


<h2>Tasks List</h2>

<form method="get" action="" class="input-group">
 <input type="text" name="name" placeholder="Name" value="{{ request.GET.name }}" />
 <input type="text" name="text" placeholder="Text" value="{{ request.GET.text }}" />
 <input type="text" name="url" placeholder="URL" value="{{ request.GET.url }}" />
 <input type="submit" value="Search" />
</form>

<table class="table table-bordered">
<thead><th>Id</th><th>Name</th><th>Content</th><th>Action</th></thead>
{% for task in tasks %}
<tr>
 <td>{{ task.id }}</td><td>{{ task.name }}</td><td>{% if task|getModelType == 'url' %}<a href="{{ task.taskurl.url }}">View Content</a>{% elif task|getModelType == 'text' %}<a href="/task/{{ task.id }}">View Content</a>{% endif %}</td><td><a href="/task/{{ task.id }}/delete">Delete</a></td>
</tr>
{% endfor %}
</table>

{% include "paginate.html" with objs=tasks %}

{% endblock %}
