{% autoescape on %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
{% block css %}{% endblock %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="override">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
 <div class="navbar-header">
  <a class="navbar-brand" href="/servers" >Servers</a> <span class="navbar-brand">|</span>
  <a class="navbar-brand" href="/roles" >Roles</a> <span class="navbar-brand">|</span>
  <a class="navbar-brand" href="/server_roles/" >Server Roles</a> <span class="navbar-brand">|</span>
  <a class="navbar-brand" href="/task/url/add">Add Task URL</a> <span class="navbar-brand">|</span>
  <a class="navbar-brand" href="/task/text/add" >Add Task Text</a> <span class="navbar-brand">|</span>
  <a class="navbar-brand" href="/sanity_task/add" >Add Sanity Task</a> <span class="navbar-brand">|</span>
  <a class="navbar-brand" href="/mogs" >MOGs</a>
 </div>
</div>
</nav>

<div class="container" style="margin-top: 60px;">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" />

</body>
</html>
{% endautoescape %}

