{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h2>Edit Task</h2>

<link href="{% static 'ckeditor/contents.css' %}" rel="stylesheet">
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>

<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<input type="submit" value="Edit Task"/>
</form>

<script>
 CKEDITOR.instances['id_text'];
</script>

{% endblock %}
