{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<link href="{% static 'ckeditor/content.css' %}" rel="stylesheet">
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{% for form in forms %}
{{ form.as_p }}
{% endfor %}
<script>
 CKEDITOR.replace( 'id_content' );
</script>
{% endblock %}
