{% extends 'base.html' %}
{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1> MOG for {{ name }} </h1> 


{% for activity in activities %}
<h2> {{ activity }} MOG</h2>
<table class="table table-bordered">
<thead><th>Task Short Description</th><th>Instructions</th><th>Derived from</th><th>Comments</th></thead>
{% for st in sts|showOnly:activity.name %}
<tr>
 <td>{{ st.stask.name }}</td><td>{% if st.stask|getModelType == 'url' %}<a href="{{ st.stask.taskurl.url }}">{{ st.stask.taskurl.url }}</a>{% elif st.stask|getModelType == 'text' %}<a href="/task/{{ st.stask.id }}">Read here</a>{% endif %}</td><td>{{ st.obj.name }} </td><td>{{ st.comments }}</td>
</tr>
{% endfor %}
</table>
{% endfor %}

{% endblock %}
