{% extends 'base.html' %}
{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h2>Server or Roles List</h2>

<form method="get" action="" class="input-group">
 <input type="text" name="name" placeholder="Server or Role" value="{{ request.GET.name }}" />
 <input type="submit" value="Search" />
</form>

<table class="table table-bordered">
<thead><th>Id</th><th>Server or Role</th><th>Action</th></thead>
{% for obj in objs %}
<tr>
 <td>{{ obj.id }}</td><td>{{ obj.name }}</td><td><a href="/mog/{{ obj.id }}">View MOG</a> | <a href="/mog/{{ obj.id }}/delete">Delete MOG</a></td>
</tr>
{% endfor %}
</table>

{% include "paginate.html" with objs=objs %}

{% endblock %}
