{% if objs.has_other_pages %}
  <ul class="pagination">
    {% if objs.has_previous %}
      <li><a href="?page={{ objs.previous_page_number }}{{ query1 }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in objs.paginator.page_range %}
      {% if objs.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}{{ query1 }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if objs.has_next %}
      <li><a href="?page={{ objs.next_page_number }}{{ query1 }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
