{% extends 'base.html' %}
{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if form %}

<h2>Add Role</h2>
<form action="" method="post">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<input type="submit" value="Add Role"/>
</form>
{% endif %}

<h2>Roles List</h2>

<form method="get" action="" class="input-group">
 <input type="text" name="name" placeholder="Role" value="{{ request.GET.name }}" />
 <input type="submit" value="Search" />
</form>

<table class="table table-bordered">
<thead><th>Id</th><th>Role</th><th>Servers</th><th>Action</th></thead>
{% for role in roles %}
<tr>
 <td>{{ role.id }}</td><td>{{ role.name }}</td><td>{% for sr in role|getSR %}{{ sr.server }}<br />{% endfor %}</td><td><a href="/mog/{{ role.id }}">View MOG</a> | <a href="/role/{{ role.id }}/delete?next={{ request.path }}">Delete Role</a></td>
</tr>
{% endfor %}
</table>

{% include "paginate.html" with objs=roles %}

{% endblock %}
