{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />

{% if form %}

<h2>Add Server Role</h2>
<form action="" method="post">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<input type="submit" value="Add Servers"/>
</form>
{% endif %}

{% endblock %}
