{% extends 'base.html' %}
{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if form %}

<h2>Add Server</h2>
<form action="" method="post">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<input type="submit" value="Add Server"/>
</form>
{% endif %}

<h2>Servers List</h2>

<form method="get" action="" class="input-group">
 <input type="text" name="name" placeholder="Hostname" value="{{ request.GET.name }}" />
 <input type="submit" value="Search" />
</form>

<table class="table table-bordered">
<thead><th>Id</th><th>Name</th><th>Roles</th><th>Action</th></thead>
{% for server in servers %}
<tr>
 <td>{{ server.id }}</td><td>{{ server.name }}</td><td>{% for sr in server|getSR %}{{ sr.role }}<br />{% endfor %}</td><td><a href="/mog/{{ server.id }}">View MOG</a> | <a href="/server/{{ server.id }}/delete?next={{ request.path }}">Delete Server</a></td>
</tr>
{% endfor %}
</table>

{% include "paginate.html" with objs=servers %}

{% endblock %}
