{% extends 'base.html' %}
{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if form %}

<h2>Add Server Role</h2>
<form action="" method="post">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<input type="submit" value="Add Role"/>
</form>
{% endif %}

<h2>Server Roles List</h2>

<form method="get" action="" class="input-group">
 <input type="text" name="server" placeholder="Server" value="{{ request.GET.server }}" />
 <input type="text" name="role" placeholder="Role" value="{{ request.GET.role }}" />
 <input type="submit" value="Search" />
</form>

<table class="table table-bordered">
<thead><th>Id</th><th>Server</th><th>Role</th><th>Action</th></thead>
{% for sr in srs %}
<tr>
 <td>{{ sr.id }}</td><td>{{ sr.server.name }}</td><td>{{ sr.role.name }}</td><td><a href="/server_role/{{ sr.id }}/delete">Delete Mapping</a></td>
</tr>
{% endfor %}
</table>

{% include "paginate.html" with objs=srs query1=query1 %}

{% endblock %}
