{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Task - {{ task.id }}{% endblock %}

{% block content %}

 <h1>{{ task.name }}</h1>

<div id="task">
 {{ task.tasktext.text|safe }}
</div> 

{% endblock %}
