{% autoescape on %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
{% block css %}{% endblock %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="override bg">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Number Registry System</a>
    </div>

    {% url 'search' as search_url %}
    {% url 'reserve' as reserve_url %}
    {% url 'register' as register_url %}
    {% url 'details' as details_url %}
<!--
    {% url 'delete' as delete_url %}
-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       {% if username %}
        <li {% if request.get_full_path == search_url %}class="active"{% endif %}><a href="{{ search_url }}">Search{% if request.get_full_path == search_url %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <li {% if request.get_full_path == reserve_url %}class="active"{% endif %}><a href="{{ reserve_url }}">Reserve{% if request.get_full_path == reserve_url %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <li {% if request.get_full_path == details_url %}class="active"{% endif %}><a href="{{ details_url }}">Status{% if request.get_full_path == details_url %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <li {% if request.get_full_path == register_url %}class="active"{% endif %}><a href="{{ register_url }}">Register{% if request.get_full_path == register_url %}<span class="sr-only">(current)</span>{% endif %}</a></li>
<!--        <li {% if request.get_full_path == delete_url %}class="active"{% endif %}><a href="{{ delete_url }}">Delete{% if request.get_full_path == delete_url %}<span class="sr-only">(current)</span>{% endif %}</a></li>
-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><span>Logged in user: {{ username }}</span></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
       {% endif %}
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 60px;">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" />

</body>
</html>
{% endautoescape %}

