{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if form %}

<div class="row">
<h3>Query a Number</h3>
<br/>
</div>
<form action="" method="get">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<button type="submit" class="btn btn-info" value="Check">Check</button>
<br/>
</form>
{% endif %}

<p> {{ message }} </p>
{% if data and message == '' %}
<table class="table table-striped table-hover">
<thead><th>Number</th><th>Status</th><th>Updated Time</th></thead>
<tr>
{% for key,value in data.items %}
<td>
 {% if key == "status" %}
   {% if value == "R" %}
    Reserved
   {% elif value == "A" %}
    Available
   {% endif %}
 {% else %}
  {{ value }}
 {% endif %}
</td>
{% endfor %}
</tr>
</table>
{% endif %}

{% endblock %}
