{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if form %}

<h2>Search Numers</h2>
<form action="" method="get">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<input type="submit" value="Search"/>
</form>
{% endif %}


{% endblock %}
