{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if form %}

<h2>User Login</h2>
<form action="" method="post">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<p> {{ message }} </p>
<button type="submit" class="btn btn-success" value="Login">Login</button>
<a href="/signup" class="btn btn-primary" role="button">SignUp with WSO2</a>
</form>

{% endif %}


{% endblock %}
