{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if form %}

<h3>Reserve Numbers</h3>
<br/>
<p> {{ message }} </p>
<form action="" method="post">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<button type="submit" class="btn btn-success" value="Reserve">Reserve</button>
</form>

{% endif %}


{% endblock %}
