{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if form %}

<div class="row">
<h3>Search for Available Numbers to reserve</h3>
<br/>
</div>
<form action="" method="post">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<button type="submit" class="btn btn-info" value="Search">Search</button>
<br/>
</form>
{% endif %}

<p> {{ message }} </p>
{% if numlist and message == '' %}
<table class="table table-striped table-hover">
<thead><th>Available Numbers</th></thead>
{% for num in numlist %}
<tr>
 <td>{{ num }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
