{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if form %}

<h2>User Signup</h2>
<form action="" method="post">
{% csrf_token %}
 {{ form.media }}
 {{ form.as_p }}
<p> {{ message }} </p>
<button type="submit" class="btn btn-primary">SignUp with WSO2</button>
</form>

{% endif %}


{% endblock %}
