{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h2>Welcome</h2>
<p>Want to opt for a Mobile Number ? Fed up with roaming around the Service Providers offices ? <br>Here we welcome you to the new Number Registry System.<br> The Number Registry System provides you the flexibility to search for the Mobile Numbers that you wish and to have them reserved at your finger tips.</p>

<h3>Available APIs </h3>
<p>
<ol>
<li> Search for a specific Number </li>
<li> Search for Numbers with wildcard </li>
<li> View the Status of a Number </li>
<li> Reserve a Number</li>
<li> Register or Add a Number (Only and Admin or Service Provider can acceess this API)</li>
</ol>
</p>
</form>

{% endblock %}
