.bg {
  /* The image used */
  background-image: images/login-pg-bg.jpg;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
