{% autoescape on %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='{% static "css/base.css" %}' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% block css %}{% endblock %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="override">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
 <div class="navbar-header">
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/containers">Containers</a>
  <a class="navbar-brand" href="/container/add" >Add</a>
 </div>
</div>
</nav>

<div class='container' style="margin-top: 60px;">
    {% block content %}
    {% endblock %}
</div>

<footer>
  <div class="container">
   <div class="row well ml-t">
    <div class="col-lg-8 col-md-8">     
     <h4>Developed by: <a href="" target="_blank">Jeevan Patnaik B.</a></h4>
    </div>
    <div class="col-lg-4 col-md-4">
     <p class="m-t">Copyright © <a href="" target="_blank">g1patnaik@gmail.com</a> 2017</p>
     <p>All Rights Reserved.</p>
    </div>
   </div>
  </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
{% endautoescape %}
