{% extends 'base.html' %}
{% load app_filters %}
{% block title %}Containers{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Containers</h1>

<form method="get" action="" class="input-group">
 <input type="text" name="owner" placeholder="Owner" value="{{ request.GET.owner }}" />
 <input type="text" name="name" placeholder="Name" value="{{ request.GET.name }}" />
 <input type="submit" value="Search" />
</form>
<table class="table table-bordered">
<th>Id <a href="?{{ query1 }}&order_by=id&direction={{ direction|opposite }}"><i class="fa fa-fw fa-sort"></i></a></th>
<th>Name <a href="?{{ query1 }}&order_by=name&direction={{ direction|opposite }}"><i class="fa fa-fw fa-sort"></i></a></th>
<th>Owner <a href="?{{ query1 }}&order_by=owner&direction={{ direction|opposite }}"><i class="fa fa-fw fa-sort"></i></a></th>
<th>Data Files</th>
<th>Supporting Files</th>
<th>Image Files</th>
<th>Created <a href="?{{ query1 }}&order_by=created&direction={{ direction|opposite }}"><i class="fa fa-fw fa-sort"></i></a></th>
<th>Comments</th>
<th>Action</th>
{% for container in containers %}
<tr>
<td>{{ container.id }}</td>
<td>{{ container.name }}</td>
<td>{{ container.owner }}</td>
<td>{% for datafile in container|getDataFiles %}<a href="{{ datafile.dataFile.url }}" target="none" >{{ datafile.dataFile.name }}</a><br />{% endfor %}</td>
<td>{% for datafile in container|getSupportDataFiles %}<a href="{{ datafile.dataFile.url }}" target="none" >{{ datafile.dataFile.name }}</a><br />{% endfor %}</td>
<td>{% for imagefile in container|getImageFiles %}<a href="{{ imagefile.image.url }}" target="none" >{{ imagefile.image.name }}</a><br />
<img src="{{ imagefile.image.url }}" alt="img" class="img-responsive">{% endfor %}</td>
<td>{{ container.created }}</td>
<td>{{ container.containerinfo.comments|linebreaks }}</td>
<td>{% if user.is_authenticated %}{% if user == container.owner or user.username == "admin" %}<a href="{{ container.get_delete_url }}">Delete</a> | {% endif %}{% endif %}<a href="{{ container.get_absolute_url  }}" >View</a></td>
</tr>
{% endfor %}
</table>

{% if containers.has_other_pages %}
  <ul class="pagination">
    {% if containers.has_previous %}
      <li><a href="?page={{ containers.previous_page_number }}{{ query1 }}{{ query2 }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in containers.paginator.page_range %}
      {% if containers.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}{{ query1 }}{{ query2 }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if containers.has_next %}
      <li><a href="?page={{ containers.next_page_number }}{{ query1 }}{{ query2 }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
