{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/graph.css">
{% endblock %}
{% block title %}Container - {{ container.id }}{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<table>
<tr><td>Name</td><td>{{ container.name }}</td></tr>
<tr><td>Data File</td><td>{{ container.primaryDataFile }}</td></tr>
<tr><td>Comments</td><td>{{ container.containerinfo.comments }}</td></tr>
<tr><td>Checksum</td><td>{{ checksum }}</td></tr>
</table>
<p>{{ message }}</p>
{{ figure|safe }}
{{ table|safe }}
{% endblock %}
