{% extends 'base.html' %}
{% block title %}Error{% endblock %}
{% block content %}
<div class="error">
<span class="error">You do not have sufficient privileges do edit this info. Please login with a different user.</span>
</div>
{% endblock %}
