{% extends 'base.html' %}
{% block title %}Form{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>{{ title }}</h1>
{{ form.non_field_errors }}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for form in forms %}
  {% for field in form %}
  <div class="fieldWrapper">
    {{ field.label_tag }} {{ field }}
    {{ field.errors }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
  {% endfor %}
  {% endfor %}

  <input type="submit" class-"btn btn-default" value="Submit" />
</form>
{% endblock %}
