table.tooltip
{
  border-collapse: collapse;
}
td.prop
{
  background-color: white;
  color: black;
}
td.value
{
  background-color: #3B7A57;
  color: #FAE7B5;
  font-weight:bold;
}
table, th, td
{
  font-family:Arial, Helvetica, sans-serif;
  border: 1px solid black;
  text-align: right;
}
